<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.river.malladmin.system.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.river.malladmin.system.model.entity.Menu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="treePath" column="tree_path" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="TINYINT"/>
            <result property="routeName" column="route_name" jdbcType="VARCHAR"/>
            <result property="routePath" column="route_path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="perm" column="perm" jdbcType="VARCHAR"/>
            <result property="alwaysShow" column="always_show" jdbcType="TINYINT"/>
            <result property="keepAlive" column="keep_alive" jdbcType="TINYINT"/>
            <result property="visible" column="visible" jdbcType="TINYINT"/>
            <result property="sort" column="sort" jdbcType="INTEGER"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="redirect" column="redirect" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="params" column="params" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parent_id,tree_path,
        name,type,route_name,
        route_path,component,perm,
        always_show,keep_alive,visible,
        sort,icon,redirect,
        create_time,update_time,params
    </sql>
</mapper>
